html{
  height: 100%;
}
body{
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #3a3a3a;
  
}
main{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#helpBtn{
  align-self: auto;
  margin-bottom: 10px;
  height: 40px;
  width: 40px;
  background: #ccc;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}

.flexbox-container-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flexbox-item{

  min-width: auto;
  min-height: auto;

}


#canvasDiv{
  padding-bottom: 10px;
}
#thecanvas{
  padding-bottom: 10px;
}
#modelsDiv{
  display: flex;
  padding-top: 10px;
  padding-bottom:10px;
}

#modelLabels{
  color: aliceblue;
  padding-top: 10px;
}
#models{
  padding-right: 7px;
}
#uploadDiv{
  padding-top: 10px;
}
#dataUpload{
  padding-bottom: 10px;
  padding-top: 10px;
  color: aliceblue;
}
#fileLoader{
  padding-bottom: 10px;
  padding-top: 10px;
  background-color:#3a3a3a;
  cursor: pointer;
 
}
#myFile{
  color:aliceblue;
  cursor: pointer;
}
#upload{
  cursor: pointer;
}